.contacto {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 25px 0;
  }
  
  .contacto ul, .contacto a {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    font-size: 25px;
    margin-top: 10px;
    color: white;
  }
  
  .contacto ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .contacto a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 5px 20px;
  }
  
  .contacto li {
    margin: 25px 0;
  }
  
  .fb {
    background-color: #395898;
  }
  
  .ig {
    background-color: #8f40a7;
  }
  
  .ml {
    background-color: #c00d0d;
  }
  
  h5 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .float {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 10;
    background-color: #40C351;
    border-radius: 100px;
  }  